.table-custom {
    width: 100%;
    max-width: 1200px; /* Defina uma largura máxima */
    margin: 20px auto; /* Centraliza a tabela e adiciona espaço em cima */
    border-radius: 10px; /* Cantos arredondados */
    overflow: hidden; /* Para aplicar bordas arredondadas corretamente */
}

.table-custom th,
.table-custom td {
    border: 1px solid #add8e6; /* Borda da tabela em azul bem clarinho */
    padding: 7px; /* Espaçamento interno das células */
    text-align: center;
}

.table-custom th {
    background-color: #e0f7fa; /* Cor de fundo do cabeçalho da tabela */
    color: #605454; /* Cor do texto do cabeçalho */
}

.table-custom tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}

.table-custom td {
    color: #333; /* Cor do texto nas células */
    font-size: 14px; /* Tamanho da fonte nas células */
}
