.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #00796b; /* Cor do título */
    text-align: center; /* Centraliza o texto */
    font-size: 2.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* Sombreamento suave */
    margin-bottom: 20px; /* Espaço abaixo do título */
    letter-spacing: 1px; /* Espaçamento entre letras */
}

.container {
  display: flex;
  width: 100%;
}

.menu {
  color: #00796b; /* Cor do título */
    font-size: 1.8rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* Sombreamento suave */
    margin-bottom: 15px; /* Espaço abaixo do título */
    letter-spacing: 1px; /* Espaçamento entre letras */
}